.headertitile,.headerhead{
    transition: all 3s initial;
    animation: headertitile 1.3s ease-in-out 0s 1 alternate;
}
@keyframes headertitile{
    0%{
       transform: translatey(-100px);
       opacity: 0;

    }
   
    100%{
        transform: translatey(0px);
        opacity: 100%;
    }
}

.bannerleft{
    transition: all 3s initial;
    animation: bannerleft 1.3s ease-in-out 0s 1 alternate;
}
@keyframes bannerleft{
    0%{
       transform: translatex(-100px);
       opacity: 0;

    }
   
    100%{
        transform: translatex(0px);
        opacity: 100%;
    }
}
.bannerright{
    transition: all 3s initial;
    animation: bannerright 1.3s ease-in-out 0s 1 alternate;
}
@keyframes bannerright{
    0%{
       transform: translatex(100px);
       opacity: 0;

    }
   
    100%{
        transform: translatex(0px);
        opacity: 100%;
    }
}
.flash{
    transition: all 3s initial;
    animation: flash 1.3s ease-in-out 0s 1 alternate;
}
@keyframes flash{
    0%{
       transform: translatey(100px);
       opacity: 0;

    }
   
    100%{
        transform: translatey(0px);
        opacity: 100%;
    }
}

