.customswiper .swiper-pagination-bullet{
    width: 12px !important;
    height: 12px !important;
    background: black !important;
}

.customswiper .swiper-pagination-bullet-active{
    width: 14px !important;
    height: 14px !important;
  background-color: #DB4444 !important;
  padding: 2px !important;
  border: 1px solid white;
  outline: 2px solid rgba(128, 128, 128, 0.685);
  }
  .customswiper .swiper-pagination-bullets{
    
    bottom: 1.5px;
  display: flex ;
  align-items: center ;
  justify-content: center;
  }