@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .container{
     @apply max-w-[1210px] w-full px-5 mx-auto;
  }
  .padingheader {
    padding: 7px 12px 7px 20px;
}
}
.padingheader {
    padding: 7px 12px 7px 20px;
}
.active{
  transition: all 0.3s ease-in-out;
  border-radius: 1px;
  border-bottom: 1.9px solid rgba(9, 9, 9, 0.283);
}
.swiper-pagination-bullet{
  background: white !important;
  opacity: 50%;
}
.swiper-pagination-bullet-active{
background-color: #DB4444 !important;
border: 1px solid white;
}